@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

p,
h1 {
  color: #fff;
  font-family: Nunito, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: rgb(20, 11, 13);
  background: linear-gradient(
      180deg,
      rgba(20, 11, 13, 1) 0%,
      rgba(128, 0, 26, 1) 100%
    )
    no-repeat;
}

header {
  width: 100%;
  height: 3.5em;
  /* background-color: rgba(0, 0, 0, 0.3); */
  z-index: 100;
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}
.header__logo {
  width: 3em;
  position: absolute;
  left: 5em;
  top: 1em;
  z-index: 100;
}
.header__menu {
  display: none;
  width: 2.5em;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 100;
}
.header__menu:hover {
  cursor: pointer;
}
nav {
  width: 30em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  border: solid 2px #fff;
  border-radius: 20px;
  text-align: center;
  padding-left: 1em;
}
nav a {
  padding: 0.5em 1.2em;
  margin-right: 0.5em;
  border-radius: 17px;
}
.nav__a--selected {
  color: #ff0033;
  background-color: #fff;
}
nav a:hover {
  color: #ff0033;
  transition: 0.5s;
}

main {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  margin-top: 70px;
  width: 10em;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hr-orientation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}

hr {
  width: 20%;
}

.main-content {
  text-align: justify;
  width: 40em;
  display: flex;
  flex-direction: column;
}
.main-content p {
  font-size: 25px;
  font-weight: bold;
}

.main-content p b {
  color: #ff0033;
}

footer {
  width: 100%;
  height: 4em;
  position: absolute;
  background-color: rgb(0, 0, 0);
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}

.footer-left p {
  font-size: 26px;
  font-weight: bold;
  color: #ff0033;
}

.footer-center p {
  font-size: 16px;
}

.footer-right img {
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
  transition: 400ms;
}

.footer-right img:hover {
  transform: scale(1.25);
}

.footer-right img {
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
  transition: 400ms;
}

.footer-right img:hover {
  transform: scale(1.25);
}

@media screen and (max-width: 916px) {
  .header__logo {
    left: 2em;
  }
  .header__nav {
    background-color: #000;
    position: relative;
    width: 1vw;
    top: -100vh;
    z-index: 10;
    height: 1vh;
    margin-top: 0em;
    border-radius: 0.3em;
    transition: 800ms;
    flex-direction: column;
  }
  .header__nav--active {
    transition: 800ms;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
  .header__menu {
    display: block;
  }
  .main-title {
    width: 10em;
    font-size: 3em;
  }
  .main-content {
    width: 30em;
  }
  .hr-orientation hr:nth-child(1) {
    display: none;
  }
  .hr-orientation hr:nth-child(2) {
    width: 15em;
  }
  .main-content p {
    font-size: 1em;
  }
  .footer-left {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .main-title {
    text-align: center;
    width: 7.5em;
    font-size: 2.8em;
  }
  .main-content {
    width: 20em;
  }
  .hr-orientation hr:nth-child(2) {
    width: 10em;
  }
  .main-content p {
    font-size: 1em;
  }
}
