@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

p,
h1 {
  color: #fff;
  font-family: Nunito, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: rgb(20, 11, 13);
  background: linear-gradient(
    120deg,
    rgba(20, 11, 13, 1) 0%,
    rgba(128, 0, 26, 1) 100%
  );
}

header {
  width: 100%;
  height: 3.5em;
  /* background-color: rgba(0, 0, 0, 0.3); */
  z-index: 100;
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}
.header__logo {
  width: 3em;
  position: absolute;
  left: 5em;
  top: 1em;
  z-index: 100;
}
.header__menu {
  display: none;
  width: 2.5em;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 100;
}
.header__menu:hover {
  cursor: pointer;
}
nav {
  width: 30em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  border: solid 2px #fff;
  border-radius: 20px;
  text-align: center;
}
nav a {
  padding: 0.5em 1.2em;
  margin-right: 0.5em;
  border-radius: 17px;
}
.nav__a--selected {
  color: #ff0033;
  background-color: #fff;
}
nav a:hover {
  color: #ff0033;
  transition: 0.5s;
}

main {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 85%;
  height: 100%;
  /*background-color: rgba(51, 51, 51, 0.24);*/
  display: flex;
  flex-direction: row;
}

.main-left {
  width: 25%;
  height: 100%;
  /*background-color: rgba(191, 18, 18, 0.24);*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-left img {
  height: 85%;
}

.main-right {
  width: 75%;
  height: 100%;
  /*background-color:rgba(0, 0, 0, 0.262);*/
}

.main-right-title {
  width: 100%;
  height: 35%;
  /*background-color: rgba(0, 0, 0, 0.467);*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-right-title p {
  margin-top: 10%;
  font-size: 50px;
  font-weight: 800;
}

.main-right-content {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.main-right-content-specific {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}

.main-right-content-specific h1 {
  margin-top: 20px;
}

.main-right-content-specific p {
  font-size: 20px;
}
hr {
  width: 300px;
}

footer {
  width: 100%;
  height: 4em;
  position: absolute;
  background-color: rgb(0, 0, 0);
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}

.footer-left p {
  font-size: 26px;
  font-weight: bold;
  color: #ff0033;
}

.footer-center p {
  font-size: 16px;
}

.footer-right img {
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
  transition: 400ms;
}

.footer-right img:hover {
  transform: scale(1.25);
}

@media screen and (max-width: 916px) {
  .header__logo {
    left: 2em;
  }
  .header__nav {
    background-color: #000;
    position: relative;
    width: 1vw;
    top: -100vh;
    z-index: 10;
    height: 1vh;
    margin-top: 0em;
    border-radius: 0.3em;
    transition: 800ms;
    flex-direction: column;
  }
  .header__nav--active {
    transition: 800ms;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
  .header__menu {
    display: block;
  }
  .main {
    display: flex;
    justify-content: center;
  }
  .main-left {
    display: none;
  }
  .main-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-right-title {
    width: 12em;
  }
  .main-right-title p {
    width: 100%;
    text-align: center;
    font-size: 2em;
    width: 12em;
  }
  .main-right-content-specific {
    width: 5em;
    margin: 0em 0.8em;
  }
  .main-right-content-specific img {
    width: 3em;
  }
  .main-right-content-specific h1 {
    text-align: center;
    font-size: 1.2em;
  }
  .main-right-content-specific p {
    text-align: center;
    width: 8em;
    font-size: 0.8em;
  }
  .footer-left {
    display: none;
  }
}
@media screen and (max-width: 520px) {
}
